#logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

#search {
    background-color: #EEEEEE;
    margin: 0px 40px;
    text-align: center;
}

nav {
    margin: 2px 40px;
}

.ally {
    float: left;
    margin-left: 2px;
    height: 80px;
    text-align: center;
}

#nav1 {
    background-color: #7EE5DA;
    width: 37%;
    margin-left: 0;
}

#nav2 {
    background-color: #70CCC2;
    width: 20%;
    font-size: 13px;
}

#nav3 {
    background-color: #62B3AA;
    width: 42.664%;
    font-size: 13px;
}

footer {
    text-align: center;
    font-size: 13px;
    margin: 100px;
}

#text1 {
    margin: 11px;
}

#text2 {
    margin: 7px;
}

#text3 {
    margin: 2px;
}